.footer {
  margin-top: $margin-primary;
}
.footer .flex-container {
  width: 94%;
}
.footer .footer-text {
  margin-top: $margin-l-1;
  margin-bottom: $margin-l-1;
}
@media (max-width: 688px) {
  .footer .flex-container {
    width: calc(100% - 48px);
  }
}
